/* article list */
.blog-list {
	scroll-behavior: smooth;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1rem;
	grid-auto-flow: column;
	grid-auto-columns: 70vw;
	padding-bottom: 2rem;
	list-style: none;
}

.blog-list::before,
.blog-list:after {
	content: "";
	width: 1rem;
}

.blog-post:first-child {
	background-color: orange;
}

/* single article */
.blog-post {
	scroll-snap-align: center;
	padding: 1rem;
}

.blog-post__feat-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url("../assets/img-test.jpg");
	width: 100%;
	height: 30vh;
}
.blog-post__text-wrapper {
	margin: 0 var(--margin);
}
