/* article list */
.blog-list {
	display: grid;
	grid-template-columns: 1rem;
	grid-auto-flow: column;
	grid-auto-columns: 70vw;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x proximity;
	gap: 2rem;
	padding-bottom: 2rem;
	list-style: none;
}
.blog-list::before,
.blog-list:after {
	content: "";
	width: 1rem;
}

/* single article */
.blog-post:first-child {
	background-color: yellow;
}
.blog-post {
	scroll-snap-align: center;
	padding: 1rem;
}
.blog-post__feat-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url("../assets/img-test.jpg");
	width: 100%;
	height: 30vh;
}
.blog-post__text-wrapper {
	margin-top: var(--margin);
}
.blog-post__category {
	font-size: var(--blog-category);
}
.blog-post__title {
	font-size: var(--blog-title);
}
.blog-post__author {
	font-size: var(--blog-author);
}
.blog-post__date {
	font-size: var(--blog-date);
}
