.blog-post-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}
.blog-post-item__intro {
	text-align: center;
}
.blog-post-item__feat-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 40vh;
	width: 100%;
	margin: 2rem 0;
}
/* target all items except feat-img */
.blog-post-item > *:not(.blog-post-item__feat-img) {
	padding: 0 1rem;
}
.blog-post-item__category {
	font-family: var(--tertiary-font);
	font-size: var(--blog-item-category);
	margin-top: var(--margin);
}
.blog-post-item__title {
	font-size: var(--blog-item-title);
}
.blog-post-item__author {
	font-size: var(--blog-item-author);
	font-family: var(--primary-font);
	font-style: oblique;
	font-weight: bold;
}
.blog-post-item__date {
	font-size: var(--blog-item-date);
	font-style: oblique;
	font-family: var(--primary-font);
}
