.btn {
	width: 100%;
	height: auto;
	padding: 1rem;
	text-transform: uppercase;
}

.btn__primary--solid {
	background-color: var(--color-5-normal);
}

.btn__secondary--outline {
	background-color: white;
	border: 2px solid var(--color-1-normal);
	color: var(--color-1-normal);
}
