.home-section:not(.mailing-list) {
	margin: 2rem 0;
}
.home-section > h2 {
	padding: 0 1rem;
}
.feature-section__feat-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../assets/img-test.jpg");
	width: 100%;
	height: 40vh;
	filter: var(--filter);
}
.blog-post__text-wrapper {
	padding: 0 var(--padding);
}
