.mailing-list {
	background-color: var(--color-1-light);
	padding: 2rem 1rem;
}
.mailing-list__intro {
	text-align: center;
}
.form-inputs-group {
	display: grid;
	padding-bottom: 1rem;
}
label {
	margin: 0;
}
.form-field {
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}
