/* shop page */
.shop-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.shop-item {
	padding: 1rem;
}
.shop-item__feat-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	height: 20vh;
}
.shop-item__category {
	font-family: var(--tertiary-font);
	font-size: var(--blog-category);
}
.shop-item__title {
	font-size: var(--blog-title);
}
