/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

/* variables */
:root {
	font-size: 16px;
	--primary-font: "Arial", sans-serif;
}

/* base styles */
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;
}
