/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

/* variables */
:root {
	font-size: 16px;
	--primary-font: "Georgia", sans-serif;
	--secondary-font: "Arial", sans-serif;
	--tertiary-font: cursive;
	--margin: 1rem;
}

/* base styles */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* main layout */
.app-container {
	display: block;
	overflow-x: hidden;
}

/* typography */
h1 {
	font-family: var(--primary-font);
}
h2 {
	font-family: var(--tertiary-font);
}
body {
	font-family: var(--secondary-font);
}

.first-section {
	display: grid;
	position: relative;
}
