/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400&family=Caveat&family=Donegal+One&display=swap");

/* variables */
:root {
	font-size: 16px;
	--primary-font: "Bellota Text", cursive;
	--secondary-font: "Donegal One", serif;
	--tertiary-font: "Caveat", cursive;
	--margin: 1rem;
	--padding: 1rem;
	--blog-category: 1.5rem;
	--blog-title: 1.5rem;
	--blog-author: 1rem;
	--blog-date: 1rem;
	--blog-item-category: 2rem;
	--blog-item-title: 2rem;
	--blog-item-author: 1rem;
	--blog-item-date: 1rem;
	--filter: grayscale(50%);
	--base-color-1: 0;
	--color-1-normal: hsla(var(--base-color-1), 0%, 0%, 100%);
	--color-1-light: hsla(var(--base-color-1), 0%, 90%, 100%);
	--base-color-2: 76;
	--color-2-normal: hsla(var(--base-color-2), 48%, 23%, 100%);
	--base-color-3: 217;
	--color-3-normal: hsla(var(--base-color-3), 32%, 53%, 100%);
	--base-color-4: 63;
	--color-4-normal: hsla(var(--base-color-4), 38%, 46%, 100%);
	--base-color-5: 8;
	--color-5-normal: hsla(var(--base-color-5), 80%, 67%, 100%);

	--grass-green: #46551e;
	--grass-green-hsl: hsl(76, 48%, 23%);
	--sky-blue: #617eae;
	--sky-blue-hsl: hsl(217, 32%, 53%);
	--plant-green: #9ca148;
	--plant-green: hsl(63, 38%, 46%);
	--sunrise-yellow: #fdb700;
	--sunrise-yellow-hsl: hsl(43, 100%, 50%);
	--sunset-pink: #ee7b6a;
	--sunset-pink: hsl(8, 80%, 67%);
}

/* base styles */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

hr {
	width: 50%;
	margin: auto;
	padding: 1rem;
}

/* link styles */
a {
	text-decoration: none;
	color: var(--color-1-normal);
}
a:hover {
	text-decoration: none;
}

/* main layout */
.app-container {
	display: block;
	overflow-x: hidden;
}

/* animation */
.fadeUp {
	animation: animFadeUp;
}
@keyframes animFadeUp {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* loading animation */
.loading-container {
	display: flex;
	align-items: center;
	height: 100%;
	width: auto;
}

/* typography */
h1 {
	font-family: var(--secondary-font);
}
h2 {
	font-family: var(--secondary-font);
}
h3 {
	font-family: var(--secondary-font);
}
h4 {
	font-family: var(--secondary-font);
}
body {
	font-family: var(--primary-font);
}

/* media queries */
@media (min-width: 900px) {
	.app-container {
		max-width: 1200px;
		margin: auto;
	}
}
