/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

/* variables */
:root {
	font-size: 16px;
	--primary-font: "Georgia", sans-serif;
	--secondary-font: "Arial", sans-serif;
	--tertiary-font: cursive;
	--margin: 1rem;
	--blog-category: 1rem;
	--blog-title: 1.5rem;
	--blog-author: 1rem;
	--blog-date: 0.1rem;
}

/* base styles */
html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* link styles */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* main layout */
.app-container {
	display: block;
	overflow-x: hidden;
}

/* typography */
h1 {
	font-family: var(--primary-font);
}
h2 {
	font-family: var(--tertiary-font);
}
h3 {
	font-family: var(--secondary-font);
}
h4 {
	font-family: var(--tertiary-font);
}
body {
	font-family: var(--secondary-font);
}
